@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #bddb14;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 40px;
  margin-top: 150px;
  margin-left: 220px;
}
